<div class="banner-green glossary glossary-page-banner">
  <%= render 'shared/navbar' %>
  <div class="about-header-container">
     <h1 class="page-description">CEZIAM</h1>
     <p class="page-description">A cyber security story like non other.</p>
    </div>
    <div class="logo-banner" style="background-image: url(<%= image_path('logo-ceziam.png') %>);">
    </div>
  </div>
</div>

<div class="about-us-container">
	<div class="about-body-container">
		<p>Ceziam is a tool built to detect core cyber security risks and the overall atack surface on any website. Built around years of combined experience from it's founders, Ceziam detects and communicates all high risk issues associated to a website in a simple way.</p>
		<p>With our robust software, we can deliver relevant and fast information to anyone, anywhere. We really want to help people feel safer in an ever expanding internet based world. </p>
	</div>
</div>

<%= render 'shared/about-team-info' %>


