<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Google result text-->
        <title>Ceziam - The cloud based toolkit that helps you secure what you build.</title>
        <%= favicon_link_tag 'favicon.ico' %>
        <% set_meta_tags title: 'Cyber-security checker',
                    description: 'Detect your core cyber security risks including dangerous ports and attack surface with a simple website freely available to all.' %>
        <meta name="description" content="All in one cloud based tool for securing whatyou build and what you host.">
        <!-- og Is Open Graph tagging used by Facebook and Twitter has a siilar one.-->
        <!--  Essential META Tags -->
        <meta property="og:title" content="Ceziam">
        <meta property="og:image" content="https://elbornlab.com/appdev.jpg">
        <meta property="og:description" content="We build digital products for brands and startups. Delivering beautifully crafted web and mobile applications, providing SEO capability and expert cyber security services.">
        <meta property="og:url" content="https://elbornlab.com">
        <meta name="twitter:card" content="summary_large_image">
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="El Born Lab">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
    <body>   
        <div class="background-white">
        <%= render 'shared/nav-bar-test' %>
            <div class="container">
                <h1 class="text-center text-section-title mx-auto">The Cloud Based Toolset for</h1>
                <h1 class="text-center text-section-title mx-auto">Securing What You Build.</h1>
            </div>
            <%= render 'shared/launch-scan' %>
        </div>
    </body>
</html>